<h1>
 PoC Local storage
</h1>
  <div class="row">
      <input class="form-control col-sm-5 formpseudo" #pseudo>
      <button class="btn btn-primary col-sm-3 formpseudo" (click)="registerPseudo(pseudo.value)">Enregistrer ce pseudo</button>  
  </div>
<p> Liste des pseudos déja enregistrés </p>
<div class="row">
  <div *ngFor="let pseudo of userNames | keyvalue" class="col-md-12 row mb-2"> 
    <div class="col-md-3">
        <label for>{{pseudo.value}}</label>
    </div> 
    <div class="col-md-9">
        <button id="user{{pseudo.key}}" class="btn btn-danger" (click)="delPseudo(pseudo.key)">X</button>  
    </div>
  </div>
</div>